<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="test.myprojects.com.callproject" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_CALL_LOG" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".StartActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserRegistrationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ContactDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SetStatusActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SettingsDetailActivity"
            android:label="@string/title_activity_settings_detail" >
        </activity>
        <activity
            android:name=".view.DefaultTextActivity"
            android:label="@string/title_activity_default_text" >
        </activity>
        <activity
            android:name=".DefaultTextDetailActivity"
            android:label="@string/title_activity_default_text_detail" >
        </activity>
    </application>

</manifest>
